<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
	</head>
	<body class="container">
		<header><%- include('../partials/header'); %></header>

		<main>
			<div class="container">
				<h1>About the Crypto Market</h1>
				<h5>NOTE: No db requests. Just gains.</h5>
				<p>
				<img src="https://nairametrics.com/wp-content/uploads/2020/09/Crypto.png" />
			</p>
				
				<p>
					The Crypto Markets are owned by Crypto Jiri established on 2011. You can buy, sell, trade, crypto on any dex with low fees at the crypto markets. We offer everything and anything you desire.  
				</p>

				<p>
					We put Coinbase, Kraken, Binance, Gemini, to the curb because we have the lowest fees and biggest gains in the market with our plugin and trade system. 
				</p>

				<p>
					Come and visit us today!
				</p>

				<p>
					We are always here with 24/7, 7 days a week markets! Not like the old timers with their stocks.
				</p>

				
			</div>
		</main>

		<footer><%- include('../partials/footer'); %></footer>
	</body>
</html>
