<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); %>
	</head>
	<body class="container">
		<header><%- include('../partials/header'); %></header>

		<main>
			<div class="container">
				<h1>Welcome to Crypto Jiri's Employee Website for Buying Crypto!</h1>
				<p>
					<img src = "https://upload.wikimedia.org/wikipedia/commons/c/c0/Cardano_Logo.jpg" />
				</p>
				<p>Here is a directory of the top Crypto in the markets. </p>
				<p>
					<a
						href="https://docs.google.com/document/d/1EcsjEK9KwDvcsgIuTpryHa4OPXpmIVD9rYWM-zlhNmk/edit?usp=sharing"
						>Link to lab instructions</a
					>
				</p>
				<p>
					<a href="https://github.com/JiriJAdam/SPA-Lab.git"
						>Link to starter repository files</a
					>
				</p>
			</div>
		</main>

		<footer><%- include('../partials/footer'); %></footer>
	</body>
</html>
